{
  "experimentalTernaries": true,
  "editorconfig": true,
  "embeddedLanguageFormatting": "auto",
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "crlf",
  "trailingComma": "none",
  "bracketSpacing": true,
  "insertPragma": true,
  "plugins": []
}
